<form action="/">
  <p>
    <label for="usuario">Usuario:</label>
    <input id="usuario" type="text" name="usuario"/>
  </p>
  <p>
    <label for="passwd">Contraseña:</label>
    <input id="passwd" type="password" name="passwd"/>
  </p>
  <p>
    <input type="submit" value="Continuar"/>
  </p>
</form>